body {
	font-family: sans-serif;
	background-color: #eee;
	color: black;
}

#subtitle {
	font-size: 14px;
}

#main-content {
	width: 600px;
}

#in-text {
	margin: 16px;
	width: 100%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#output {
	display: none;
	border-width: 1px;
	border-style: solid;
	border-color: #444;
	margin: 16px;
	padding: 8px;
	background-color: white;
	left: 12px;
	position: relative;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#progress-container {
	display: none;
	border-radius: 5px;
	width: 100%;
	height: 20px;
	background-color: #bbb;
	margin-left: 12px;
}

#progress {
	background-color: #0af;
	width: 0%;
	height: 12px;
	position: relative;
	top: 4px;
}

#go-container {
	height: 20px;
	position: relative;
	left: 4px;
}

#go-button {
	background-color: #0af;
	padding: 4px;
	margin-left: 12px;
	font-weight: bold;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#footer {
	font-size: 14px;
}

#sample-text-links-container {
	line-height: 24px;
}

#sample-text-links-container a {
	margin-left: 12px;
	text-decoration: none;
	color: blue;
	padding: 4px;
}

#sample-text-links-container a:HOVER {
	color: yellow;
	background-color: blue;
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#add-to-any-container {
	float: right;
}

.replaced-word {
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

.replaced-word:HOVER {
	background-color: #0af;
}

#replaced-word-popup {
	background-color: #eee;
	position: absolute;
	display: none;
	border-color: #444;
	border-style: solid;
	border-width: 1px;
	padding: 6px;
	border-radius: 4px;
	z-index: 2;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
